[submodule "dependencies/ISCache"]
	path = dependencies/ISCache
	url = git@github.com:jbmorley/ISCache.git
	branch = master
[submodule "dependencies/ISUtilities"]
	path = dependencies/ISUtilities
	url = git@github.com:jbmorley/ISUtilities.git
	branch = master
[submodule "dependencies/ISListViewAdapter"]
	path = dependencies/ISListViewAdapter
	url = git@github.com:jbmorley/ISListViewAdapter.git
